# MKR Masterclass Dataset Analysis

## Author : Bhupender Singh

## MKR Task - 2

### ðŸ“Œ Problem Statement  - To Clean, Analyze and Visualize The Given MKR Materclass Registeration Datasets

### Let's Start With Importing The Necessary Modules For This Data Cleaning Task

In [1]:
import pandas as pd
import numpy as np

### Importing All The 7 Datasets

In [2]:
df_whatsapp_marketing                =   pd.read_excel('-Masterclass on - Whatsapp Marketing (Responses).xlsx')
df_video_editing                     =   pd.read_excel('Basic Video Editing - Masterclass (Responses).xlsx')
df_digital_marketing                 =   pd.read_excel('Masterclass - The Basics Of Digital Marketing (Responses).xlsx')
df_excel                             =   pd.read_excel('Masterclass - The Basics Of Excel (Responses) (1).xlsx')
df_canva_design                      =   pd.read_excel('Masterclass on Basics of Canva - a Graphic Design Platform (Responses).xlsx')
df_public_speaking                   =   pd.read_excel('Public Speaking - Masterclass (Responses).xlsx')
df_podcast                           =   pd.read_excel('The Podcast - Masterclass (Responses).xlsx')

### Creating A New Column For Masterclass Category

In [3]:
df_whatsapp_marketing['Masterclass'] = 'Whatsapp Marketing'
df_video_editing['Masterclass']      = 'Basic Video Editing'
df_digital_marketing['Masterclass']  = 'The Basics Of Digital Marketing'
df_excel['Masterclass']              = 'The Basics Of Excel'
df_canva_design['Masterclass']       = 'Basics of Canva - A Graphic Design Platform'
df_public_speaking['Masterclass']    = 'Public Speaking'
df_podcast['Masterclass']            = 'The Podcast'

### Dropping All The Unnecessary Columns

In [4]:
df_whatsapp_marketing                = df_whatsapp_marketing.drop(['First Name','Last Name','Unnamed: 4','Unnamed: 5'],axis=1)
df_video_editing                     = df_video_editing.drop(['First Name','Last Name','Unnamed: 4'],axis=1)
df_digital_marketing                 = df_digital_marketing.drop(['First Name','Last Name','Unnamed: 4','Unnamed: 5'],axis=1)
df_excel                             = df_excel.drop(['First Name','Last Name','Unnamed: 4'],axis=1)
df_canva_design                      = df_canva_design.drop(['First Name','Last Name','Unnamed: 4','Unnamed: 5'],axis=1)
df_public_speaking                   = df_public_speaking.drop(['First Name','Last Name','Unnamed: 4','Unnamed: 5'],axis=1)
df_podcast                           = df_podcast.drop(['First Name','Last Name','Unnamed: 4','Unnamed: 5'],axis=1)

### Extracting The Date From Timestamp Column

In [5]:
df_whatsapp_marketing['Date']        = df_whatsapp_marketing['Timestamp'].dt.date
df_video_editing['Date']             = df_video_editing['Timestamp'].dt.date
df_digital_marketing['Date']         = df_digital_marketing['Timestamp'].dt.date
df_excel['Date']                     = df_excel['Timestamp'].dt.date
df_canva_design['Date']              = df_canva_design['Timestamp'].dt.date
df_public_speaking['Date']           = df_public_speaking['Timestamp'].dt.date
df_podcast['Date']                   = df_podcast['Timestamp'].dt.date

### Extracting The Time From Timestamp Column(And Converting Second Values To 0 In Time For Better Analysis)

In [6]:
df_whatsapp_marketing['Time']        = df_whatsapp_marketing['Timestamp'].dt.strftime('%H:%M:%S').str.replace(':[0-9]+$', ':00')
df_video_editing['Time']             = df_video_editing['Timestamp'].dt.strftime('%H:%M:%S').str.replace(':[0-9]+$', ':00')
df_digital_marketing['Time']         = df_digital_marketing['Timestamp'].dt.strftime('%H:%M:%S').str.replace(':[0-9]+$', ':00')
df_excel['Time']                     = df_excel['Timestamp'].dt.strftime('%H:%M:%S').str.replace(':[0-9]+$', ':00')
df_canva_design['Time']              = df_canva_design['Timestamp'].dt.strftime('%H:%M:%S').str.replace(':[0-9]+$', ':00')
df_public_speaking['Time']           = df_public_speaking['Timestamp'].dt.strftime('%H:%M:%S').str.replace(':[0-9]+$', ':00')
df_podcast['Time']                   = df_podcast['Timestamp'].dt.strftime('%H:%M:%S').str.replace(':[0-9]+$', ':00')

### Now Dropping The Original Timestamp Column After Extracting Date & Time

In [7]:
df_whatsapp_marketing                = df_whatsapp_marketing.drop(['Timestamp'], axis=1)
df_video_editing                     = df_video_editing.drop(['Timestamp'], axis=1)
df_digital_marketing                 = df_digital_marketing.drop(['Timestamp'], axis=1)
df_excel                             = df_excel.drop(['Timestamp'], axis=1)
df_canva_design                      = df_canva_design.drop(['Timestamp'], axis=1)
df_public_speaking                   = df_public_speaking.drop(['Timestamp'], axis=1)
df_podcast                           = df_podcast.drop(['Timestamp'], axis=1)

## ðŸ“Œ Data Preprocessing On City Column Of 'Whatsapp Marketing' Masterclass Dataset

In [8]:
df_whatsapp_marketing['City'].sort_values().unique()

array(['Ahamdnagar', 'Ahmedabad, Gujarat', 'Ahmednagar', 'Ahmednagar ',
       'Akola', 'Allahabad', 'Amravati, Maharashtra ', 'Assam',
       'Auragabad', 'Aurangabad', 'BANGALORE', 'BENGALURU', 'Ballabgarh',
       'Bangalore', 'Bangalore ', 'Bengaluru', 'Bhilai', 'Bhopal',
       'Bhubaneswar', 'Bhusawal', 'Bidar', 'Biharsharif', 'Boisar',
       'Buldhana', 'Burhanpur', 'CHAMARAJNAGAR', 'Calicut', 'Chennai',
       'Cirimiri', 'Coimbatore', 'DIMAPUR', 'Dehradun', 'Delhi', 'Delhi ',
       'Delhi NCR', 'Deulgaon Raja,Buldana', 'Dewas', 'Durg', 'Faridabad',
       'Faridabad ', 'GOA', 'Gandhinagar', 'Goalpara', 'Godhara',
       'Greater Noida', 'Gurgaon', 'Gurgaon ', 'Gurgoan', 'Gurgram',
       'Gurugram', 'Gurugram ', 'Guwahati', 'Guwahati ', 'Gwalior',
       'Haldwani', 'Hingoli', 'Hyderabad', 'Ichalkaranji', 'Indore',
       'Jabalpur', 'Jaipur', 'Jalandhar', 'Jalna', 'Jalna ', 'Jodhpur',
       'Jorhat', 'Kalyan', 'Karauli', 'Katni', 'Khambhat',
       'Kharghar, Navi Mumbai - 410210', 'Kochi', 'Kolding', 'Kolhapur',
       'Kolkata', 'Kondagaon', 'Kosi', 'Kurukshetra', 'LATUR', 'LUCKNOW',
       'Latur', 'Latur maharashtra ', 'Lucknow', 'Lunawada', 'Lusaka',
       'M', 'MUMBAI', 'Madhya Pradesh', 'Madurai', 'Malegaon, Nashik',
       'Mohali', 'Moradabad', 'Moradabad ', 'Morigaon ', 'Mumbai',
       'Mumbai ', 'NAGPUR', 'NEW DELHI', 'Nagaon, Assam. ', 'Nagpur',
       'Nagpur Maharashtra', 'Nakonde ', 'Nanded', 'Nashik', 'Nasik',
       'New Delhi', 'New Delhi ', 'New delhi', 'Noida', 'PUNE',
       'Palampur', 'Palanpur', 'Parli ', 'Pathalgaon', 'Patna',
       'Pimpari Chinchwad', 'Pimple Saudagar', 'Pune', 'Pune ',
       'Raebareli', 'Rajam', 'Rajkot', 'Ranchi', 'Ranchi ', 'Rewa',
       'Rewari', 'Rohtak', 'Rupnagar', 'SILCHAR', 'Saharanpur', 'Saida',
       'Salem', 'Secunderabad', 'Shani shingnapur', 'Shimla', 'Silchar',
       'Siliguri', 'Singapore ', 'Srimadhopur',
       'Sudershan Park,New Delhi', 'Sunyani', 'Tezpur', 'Thane',
       'Tuljapur', 'Udaipur', 'Ujjain',
       'V.P.O - Mohanpur, DISTT. - Rewari (Haryana)', 'Vadodara',
       'Visakhapatnam', 'Visakhapatnam ', 'Washi', 'bangalore', 'delhi',
       'gurgoan ', 'haryana', 'hyderabad', 'jaipur', 'nagpur',
       'new delhi', 'noida', 'pune', 'sultanpur ', 'vizag'], dtype=object)

In [9]:
#to convert the city names to lowercase with first letter capital
df_whatsapp_marketing['City'] = df_whatsapp_marketing['City'].str.title()

In [10]:
#to remove the extra space from left and right side of city names
df_whatsapp_marketing['City'] = df_whatsapp_marketing['City'].str.strip()

### Cleaning and Replacing The Wrong City Names To Correct Names

In [11]:
df_whatsapp_marketing['City'] = df_whatsapp_marketing['City'].replace('Kharghar, Navi Mumbai - 410210','Navi Mumbai')\
.replace('Gurgaon','Gurugram').replace('Gurgoan','Gurugram').replace('Gurgram','Gurugram').replace('New Delhi','Delhi')\
.replace('Sudershan Park,New Delhi','Delhi').replace('Delhi Ncr','Delhi').replace('Auragabad','Aurangabad')\
.replace('Deulgaon Raja,Buldana','Deulgaon Raja').replace('Buldhana','Deulgaon Raja').replace('Kosi','Kosi Kalan')\
.replace('Nagpur Maharashtra','Nagpur').replace('Cirimiri','Chirimiri').replace('Latur Maharashtra','Latur')\
.replace('V.P.O - Mohanpur, Distt. - Rewari (Haryana)','Rewari').replace('Amravati, Maharashtra','Amravati')\
.replace('Vizag','Visakhapatnam').replace('Ahamdnagar','Ahmednagar').replace('Nagaon, Assam.','Nagaon')\
.replace('Malegaon, Nashik','Malegaon').replace('Bangalore','Bengaluru')

In [12]:
df_whatsapp_marketing.drop(df_whatsapp_marketing.index[df_whatsapp_marketing['City'] == 'M'], inplace = True)

In [13]:
df_whatsapp_marketing['City'].sort_values().unique()

array(['Ahmedabad, Gujarat', 'Ahmednagar', 'Akola', 'Allahabad',
       'Amravati', 'Assam', 'Aurangabad', 'Ballabgarh', 'Bengaluru',
       'Bhilai', 'Bhopal', 'Bhubaneswar', 'Bhusawal', 'Bidar',
       'Biharsharif', 'Boisar', 'Burhanpur', 'Calicut', 'Chamarajnagar',
       'Chennai', 'Chirimiri', 'Coimbatore', 'Dehradun', 'Delhi',
       'Deulgaon Raja', 'Dewas', 'Dimapur', 'Durg', 'Faridabad',
       'Gandhinagar', 'Goa', 'Goalpara', 'Godhara', 'Greater Noida',
       'Gurugram', 'Guwahati', 'Gwalior', 'Haldwani', 'Haryana',
       'Hingoli', 'Hyderabad', 'Ichalkaranji', 'Indore', 'Jabalpur',
       'Jaipur', 'Jalandhar', 'Jalna', 'Jodhpur', 'Jorhat', 'Kalyan',
       'Karauli', 'Katni', 'Khambhat', 'Kochi', 'Kolding', 'Kolhapur',
       'Kolkata', 'Kondagaon', 'Kosi Kalan', 'Kurukshetra', 'Latur',
       'Lucknow', 'Lunawada', 'Lusaka', 'Madhya Pradesh', 'Madurai',
       'Malegaon', 'Mohali', 'Moradabad', 'Morigaon', 'Mumbai', 'Nagaon',
       'Nagpur', 'Nakonde', 'Nanded', 'Nashik', 'Nasik', 'Navi Mumbai',
       'Noida', 'Palampur', 'Palanpur', 'Parli', 'Pathalgaon', 'Patna',
       'Pimpari Chinchwad', 'Pimple Saudagar', 'Pune', 'Raebareli',
       'Rajam', 'Rajkot', 'Ranchi', 'Rewa', 'Rewari', 'Rohtak',
       'Rupnagar', 'Saharanpur', 'Saida', 'Salem', 'Secunderabad',
       'Shani Shingnapur', 'Shimla', 'Silchar', 'Siliguri', 'Singapore',
       'Srimadhopur', 'Sultanpur', 'Sunyani', 'Tezpur', 'Thane',
       'Tuljapur', 'Udaipur', 'Ujjain', 'Vadodara', 'Visakhapatnam',
       'Washi'], dtype=object)

## ðŸ“Œ Data Preprocessing On City Column Of 'Basic Video Editing' Masterclass Dataset

In [14]:
#to convert the city names to lowercase with first letter capital
df_video_editing['City'] = df_video_editing['City'].str.title()

In [15]:
#to remove the extra space from left and right of city names
df_video_editing['City'] = df_video_editing['City'].str.strip()

In [16]:
df_video_editing['City'].sort_values().unique()

array(['Agartala', 'Ahmedabad', 'Ahmedabad, Gujarat', 'Ajmer',
       'Alappuzha', 'Aligarh', 'Ambur', 'Amritsar', 'Anand', 'Ariyalur',
       'Arjuni', 'Aurangabad', 'Aurangabad ,Bihar', 'Baidyapur, Burdwan',
       'Ballari', 'Balurghat,South Dinajpur', 'Bangalore', 'Bankura',
       'Bareli , Distt- Raisen', 'Barh', 'Baripada, Mayurbhanj',
       'Bathinda', 'Beawar', 'Begusarai', 'Bengaluru', 'Bharatpur',
       'Bhilai', 'Bhilwara', 'Bhopal', 'Bhubaneswar', 'Bijni',
       'Bilasipara', 'Bongaigaon', 'Bongaigaon, Assam', 'Bulandshahr',
       'Burdwan', 'Buxar', 'Chakdaha', 'Chandigarh', 'Chennai', 'Chhapra',
       'Chikarada (Chittorgarh)', 'Chinchwad', 'Dapoli', 'Darbhanga',
       'Dehradoon', 'Dehradun', 'Delhi', 'Dhaka', 'Dhenkanal', 'Dimapur',
       'Durg', 'Durgapur', 'Ernakulam', 'Erode', 'Faridabad', 'Gadarpur',
       'Gandhidham', 'Gangapur City', 'Gaya', 'Ghaziabad', 'Goa',
       'Gohpur', 'Golaghat', 'Gonda', 'Gopalganj', 'Gurgaon', 'Gurugram',
       'Guwae', 'Guwahati', 'Guwahati, Assam', 'Haflong', 'Hajipur',
       'Handewadi Road', 'Hardoi', 'Hooghly', 'Hoshangabad', 'Hyderabad',
       'Imphal', 'Indore', 'Jabalpur', 'Jagdalpur Baster', 'Jaipur',
       'Jalgaon', 'Jalgaon Jamod', 'Jalna', 'Jamnagar', 'Janjgir',
       'Jeypore', 'Jhansi', 'Jodhpur', 'Jodhpur Rajasthan', 'Jorhat',
       'Kanchipuram', 'Kannur', 'Karad', 'Karbi Anglong', 'Karkala',
       'Kasaragod', 'Katihar', 'Kekri', 'Kerala', 'Khariar Road', 'Kochi',
       'Kolar', 'Kolhapur', 'Kolkata', 'Kondapalli', 'Kopargoan',
       'Koraput', 'Kota', 'Kuchaman City', 'Ladakh', 'Lucknow',
       'Madhuban', 'Madhubani', 'Madurai', 'Malkapur', 'Mangalore',
       'Meerut', 'Mohali', 'Moodbidre', 'Morigaon', 'Mujaffarpur',
       'Mumbai', 'Munger Bihar', 'Muscat', 'Muzaffarpur', 'Muzzafurpur',
       'Mysuru', 'Nagaon', 'Nagercoil', 'Nagpur', 'Nainital', 'Nalbari',
       'Nanded', 'Nashik', 'Nasriganj', 'Navi Mumbai', 'Nellore',
       'New Delhi', 'Noida', 'Odisha', 'Pachora', 'Parbhani', 'Patna',
       'Patna(Bihar)', 'Pilani', 'Pune', 'Raipur', 'Rajasthan',
       'Rajnandgaon', 'Ranchi', 'Rasra', 'Ratlam', 'Ratnagiri',
       'Rayagada', 'Rayagada, Odisha.', 'Roorkee', 'Saharanpur',
       'Sahibganj', 'Samastip', 'Samastipur', 'Santrampur', 'Shahada',
       'Sheoganj', 'Shimla', 'Shirdi', 'Sibsagar', 'Silchar', 'Sitamarhi',
       'Solapur', 'Surat', 'Tezpur', 'Tezpur , Assam', 'Tezpur, Assam',
       'Thane', 'Thrissur', 'Tinsukia', 'Tirupati', 'Tiruvalla',
       'Trivandrum', 'Udaipur', 'Udaipur, Tripura', 'Udupi', 'Vadodara',
       'Varanasi', 'Vellore', 'Visakhapatnam', 'Visakhaptnam',
       'Vishakapatnam', 'Vizag', 'Wani', 'Wanwarla, Pusad', 'Wardha',
       'Yavatamal', 'Yavatmal', 'Yavtmal'], dtype=object)

### Cleaning and Replacing The Wrong City Names To Correct Names

In [17]:
df_video_editing['City'] = df_video_editing['City'].replace('Gurgaon','Gurugram').replace('New Delhi','Delhi')\
.replace('Baripada, Mayurbhanj','Baripada').replace('Navi Mumbai','Mumbai').replace('Trivandrum','Thiruvananthapuram')\
.replace('Dehradoon','Dehradun').replace('Handewadi Road','Pune').replace('Vishakapatnam','Visakhapatnam')\
.replace('Patna(Bihar)','Patna').replace('Kopargoan','Kopargaon').replace('Tezpur, Assam','Tezpur')\
.replace('Vizag','Visakhapatnam').replace('Yavatamal','Yavatmal').replace('Tezpur , Assam','Tezpur')\
.replace('Arjuni','Morgaon').replace('Guwahati, Assam','Guwahati').replace('Yavtmal','Yavatmal')\
.replace('Chikarada (Chittorgarh)','Chikarada').replace('Visakhaptnam','Visakhapatnam')\
.replace('Bareli , Distt- Raisen','Bareli').replace('Bongaigaon, Assam','Bongaigaon')\
.replace('Rayagada, Odisha.','Rayagada').replace('Moodbidre','Mudbidri').replace('Jodhpur Rajasthan','Jodhpur')\
.replace('Jagdalpur Baster','Jagdalpur').replace('Samastip','Samastipur').replace('Balurghat,South Dinajpur','Balurghat')\
.replace('Ahmedabad, Gujarat','Ahmedabad').replace('Khariar Road','Khariar').replace('Munger Bihar','Munger')\
.replace('Patna(Bihar)','Patna').replace('Bangalore','Bengaluru')

In [18]:
df_video_editing.drop(df_video_editing.index[df_video_editing['City'] == 'Guwae'], inplace = True)

In [19]:
df_video_editing['City'].sort_values().unique()

array(['Agartala', 'Ahmedabad', 'Ajmer', 'Alappuzha', 'Aligarh', 'Ambur',
       'Amritsar', 'Anand', 'Ariyalur', 'Aurangabad', 'Aurangabad ,Bihar',
       'Baidyapur, Burdwan', 'Ballari', 'Balurghat', 'Bankura', 'Bareli',
       'Barh', 'Baripada', 'Bathinda', 'Beawar', 'Begusarai', 'Bengaluru',
       'Bharatpur', 'Bhilai', 'Bhilwara', 'Bhopal', 'Bhubaneswar',
       'Bijni', 'Bilasipara', 'Bongaigaon', 'Bulandshahr', 'Burdwan',
       'Buxar', 'Chakdaha', 'Chandigarh', 'Chennai', 'Chhapra',
       'Chikarada', 'Chinchwad', 'Dapoli', 'Darbhanga', 'Dehradun',
       'Delhi', 'Dhaka', 'Dhenkanal', 'Dimapur', 'Durg', 'Durgapur',
       'Ernakulam', 'Erode', 'Faridabad', 'Gadarpur', 'Gandhidham',
       'Gangapur City', 'Gaya', 'Ghaziabad', 'Goa', 'Gohpur', 'Golaghat',
       'Gonda', 'Gopalganj', 'Gurugram', 'Guwahati', 'Haflong', 'Hajipur',
       'Hardoi', 'Hooghly', 'Hoshangabad', 'Hyderabad', 'Imphal',
       'Indore', 'Jabalpur', 'Jagdalpur', 'Jaipur', 'Jalgaon',
       'Jalgaon Jamod', 'Jalna', 'Jamnagar', 'Janjgir', 'Jeypore',
       'Jhansi', 'Jodhpur', 'Jorhat', 'Kanchipuram', 'Kannur', 'Karad',
       'Karbi Anglong', 'Karkala', 'Kasaragod', 'Katihar', 'Kekri',
       'Kerala', 'Khariar', 'Kochi', 'Kolar', 'Kolhapur', 'Kolkata',
       'Kondapalli', 'Kopargaon', 'Koraput', 'Kota', 'Kuchaman City',
       'Ladakh', 'Lucknow', 'Madhuban', 'Madhubani', 'Madurai',
       'Malkapur', 'Mangalore', 'Meerut', 'Mohali', 'Morgaon', 'Morigaon',
       'Mudbidri', 'Mujaffarpur', 'Mumbai', 'Munger', 'Muscat',
       'Muzaffarpur', 'Muzzafurpur', 'Mysuru', 'Nagaon', 'Nagercoil',
       'Nagpur', 'Nainital', 'Nalbari', 'Nanded', 'Nashik', 'Nasriganj',
       'Nellore', 'Noida', 'Odisha', 'Pachora', 'Parbhani', 'Patna',
       'Pilani', 'Pune', 'Raipur', 'Rajasthan', 'Rajnandgaon', 'Ranchi',
       'Rasra', 'Ratlam', 'Ratnagiri', 'Rayagada', 'Roorkee',
       'Saharanpur', 'Sahibganj', 'Samastipur', 'Santrampur', 'Shahada',
       'Sheoganj', 'Shimla', 'Shirdi', 'Sibsagar', 'Silchar', 'Sitamarhi',
       'Solapur', 'Surat', 'Tezpur', 'Thane', 'Thiruvananthapuram',
       'Thrissur', 'Tinsukia', 'Tirupati', 'Tiruvalla', 'Udaipur',
       'Udaipur, Tripura', 'Udupi', 'Vadodara', 'Varanasi', 'Vellore',
       'Visakhapatnam', 'Wani', 'Wanwarla, Pusad', 'Wardha', 'Yavatmal'],
      dtype=object)

## ðŸ“Œ Data Preprocessing On City Column Of 'The Basics Of Digital Marketing' Masterclass Dataset

In [20]:
#to convert the city names to lowercase with first letter capital
df_digital_marketing['City'] = df_digital_marketing['City'].str.title()

In [21]:
#to remove the extra space from left and right of city names
df_digital_marketing['City'] = df_digital_marketing['City'].str.strip()

In [22]:
df_digital_marketing['City'].sort_values().unique()

array(['Ahmedabad', 'Ahmednagar', 'Ajmer', 'Amravati', 'Ayodhya',
       'Bangalore', 'Banglore', 'Bengaluru', 'Bhagalpur', 'Bhilai',
       'Bhilwara', 'Bhopal', 'Bidar', 'Bongaigaon', 'Burhanpur',
       'Chattogram, Bangladesh', 'Chennai', 'Chittagong', 'Chittorgarh',
       'Dehradun', 'Delhi', 'Delhi Ncr', 'Delhi.', 'Dewas', 'Dhaka',
       'Doha', 'Durg', 'Estero', 'Faridabad', 'Gandhinagar', 'Gangtok',
       'Gaya', 'Gaya, Bihar', 'Ghaziabad', 'Goa.', 'Gumla', 'Gurgaon',
       'Guwahati', 'Haldwani', 'Haridwar', 'Hyderabad', 'Indore',
       'Jaipur', 'Jammu And Kashmir', 'Jaunpur', 'Jharakhand', 'Kalyani',
       'Kanpur', 'Karimnagar', 'Karnal, Haryana', 'Kochi', 'Kohima',
       'Kolkata', 'Kuppam', 'Kurukshetra', 'Latur', 'Leh', 'Lucknow',
       'Ludhiana', 'Maihar', 'Malegaon', 'Mangaldai', 'Manipal', 'Mansa',
       'Margao-Goa', 'Moradabad', 'Motihari', 'Mp', 'Mumbai',
       'Muradnagar', 'Mysore', 'Nagpur', 'Nainital', 'Nashik',
       'Navi Mumbai', 'Navi Mumbai-410210', 'New Delhi', 'Nizamabad',
       'Noida', 'Nottingham Uk', 'Oragitok Romba Ading', 'Patiala',
       'Patna', 'Patna, Bihar', 'Pune', 'Rajabala', 'Rajkot',
       'Rajnandgaon', 'Ranchi', 'Roorkee', 'Sagar', 'Saharanpur',
       'Secuderabad', 'Secunderabad', 'Shahada', 'Shillong', 'Silchar',
       'Siliguri', 'Singapore', 'South West Delhi', 'Sullurpeta',
       'Tezpur', 'Thrissur, Kerala', 'Thummalagunta Tirupati', 'Tumkur',
       'Tura', 'Uae (Outside India)', 'Udaipur', 'Ujjain', 'Umsawnongbri',
       'Vadodara', 'Varanasi', 'Visakhapatnam', 'West Delhi', 'Yavatmal',
       'á´€É¢Ê€á´€'], dtype=object)

### Cleaning and Replacing The Wrong City Names To Correct Names

In [23]:
df_digital_marketing = df_digital_marketing.replace('Bangalore','Bengaluru').replace('Patna, Bihar','Patna')\
.replace('New Delhi','Delhi').replace('Karnal, Haryana','Karnal').replace('Delhi.','Delhi')\
.replace('Navi Mumbai-410210','Navi Mumbai').replace('South West Delhi','Delhi').replace('Mp','Madhya Pradesh')\
.replace('Gurgaon','Gurugram').replace('Banglore','Bengaluru').replace('Secuderabad','Secunderabad')\
.replace('West Delhi','Delhi').replace('Mysore','Mysuru').replace('Delhi Ncr','Delhi')\
.replace('Goa.','Goa').replace('Gaya, Bihar','Gaya').replace('Umsawnongbri','Meghalaya')\
.replace('Thummalagunta Tirupati','Tummalagunta').replace('á´€É¢Ê€á´€','Agra').replace('Thrissur, Kerala','Thrissur')\
.replace('Uae (Outside India)','UAE').replace('Margao-Goa','Margao').replace('Oragitok Romba Ading','Oragitok')\
.replace('Nottingham Uk','Nottingham').replace('Chattogram, Bangladesh','Chattogram')

## ðŸ“Œ Data Preprocessing On City Column Of 'The Basics Of Excel' Masterclass Dataset

In [24]:
#to convert the city names to lowercase with first letter capital
df_excel['City'] = df_excel['City'].str.title()

In [25]:
#to remove the extra space from left and right of city names
df_excel['City'] = df_excel['City'].str.strip()

In [26]:
df_excel['City'].sort_values().unique()

array(['Accra', 'Accra, Ghana', 'Ahmedabad', 'Ajmer', 'Alappey',
       'Aligarh', 'Aligarh, U.P.', 'Amritsar', 'Anand', 'Ankleshwar',
       'Ankola', 'Ansan', 'Ara', 'Assam', 'Athens',
       'Auraiya Uttar Pradesh', 'Aurangabad', 'Bacolod City', 'Bacoor',
       'Bacoor City,Philippines', 'Ballia', 'Bandung', 'Bangalore',
       'Bangalore South', 'Banglore', 'Bary', 'Beed', 'Bekasi, Indonesia',
       'Bengaluru', 'Bhilai', 'Bhiwandi', 'Bhopal', 'Bhubaneswar',
       'Bhusawal', 'Bidar', 'Bilaspur', 'Bingabon', 'Bodhan',
       'Bokaro Steel City', 'Burhanpur', 'Bustos Bulacan', 'Buxar',
       'Cagayan De Oro City', 'Cainta Rizal', 'Calabar', 'Caloocan City',
       'Casablanca', 'Cavite', 'Cavite, Philippines', 'Chabua, Dibrugarh',
       'Chandigarh', 'Chengannur', 'Chennai', 'Cluj-Napoca', 'Cochin',
       'Coimbatore', 'Coochbihar', 'DasmariÃ±as City', 'Dehradun', 'Delhi',
       'Dewas', 'Dewas, Mp', 'Dhaka', 'Dharamshala, Himachal Pradesh.',
       'Dublin', 'Dumka', 'Durg', 'Edmonton', 'Eluru', 'Ernakulam',
       'Erode, Tamilnadu', 'Faridabad', 'Farrukhabad Up', 'Frederick',
       'Gadarpur', 'Gangtok', 'Gaya', 'General Trias City', 'Ghaziabad',
       'Goa', 'Goalpara', 'Gokul Vihar Moradabad', 'Gombe, Nigeria',
       'Gonda', 'Goregaon W, Mumbai', 'Greater Noida',
       'Greater Noida (West)', 'Greater Noida West', 'Gresik', 'Gujarat',
       'Guntur', 'Gurgaon', 'Gurugram', 'Guwahati', 'Gwalior', 'Harare',
       'Harda', 'Haridwar', 'Hisar', 'Hisar, Haryana', 'Houston',
       'Hyderaba', 'Hyderabad', 'Ibadan', 'Iloilo', 'Imus City',
       'Imus City Cavite, Philippines', 'Imus City, Cavite, Philippines',
       'Indore', 'Istanbul, Turkey', 'Jaipur', 'Jaitu', 'Jakarta',
       'Jalandhar', 'Jalgaon', 'Jalore', 'Jammu', 'Jamshedpur', 'Jaunpur',
       'Jhajjar', 'Jodhpur', 'Johannesburg', 'Jorhat, Assam', 'Kakinada',
       'Kalaburagi', 'Kannur', 'Kanpur', 'Karachi', 'Karachi,Pakistan',
       'Karimnagar', 'Karnal', 'Karnal, Haryana', 'Kasaragod', 'Kathua',
       'Khandwa, Mp', 'Khatima', 'Kohima', 'Kolhapur', 'Kolkata',
       'Kollam', 'Kota Bandung', 'Kottayam', 'Kozhikode', 'Kuala Lumpur',
       'Kuruksethra', 'Kurukshetra', 'Lagos',
       'Las PiÃ±as City, Metro Manila', 'Latur', 'Lebanon-Saida',
       'Lohardaga', 'London On', 'Loni 413736', 'Lucknow', 'Ludhiana',
       'Madina', 'Madurai, Tamil Nadu, India', 'Malappuram', 'Malaysia',
       'Malegaon', 'Malout,Punjab', 'MalÃ©,', 'MalÃ©, Maldives',
       'Mancher ,Pune', 'Mandaluyong', 'Mandsaur', 'Manila Philippines',
       'Manjeri', 'Mapusa', 'Maramag', 'Marrakech', 'Meerut', 'Melbourne',
       'Miri', 'Mohali', 'Moradabad', 'Moradabad, Uttar Pradesh',
       'Mudipu', 'Mukteshwar', 'Mumbai', 'Mumbai Suburban', 'Muntinlupa',
       'Mysore', 'Nadiad', 'Nagda', 'Nagpur', 'Nallasopara', 'Nashik',
       'Navi Mumbai', 'Navi Mumbai - 410210', 'Navi Mumbai, New Panvel',
       'Near Dikshant International School', 'New Delhi',
       'New Delhi, India', 'Nigeria, Katsina', 'Nizamabad', 'Noida',
       'North West Delhi', 'Nuh', 'Oton Iloilo', 'Palampur', 'Panchkula',
       'Panipat', 'Pasay City', 'Patna', 'Patna , Bihar', 'Philippines',
       'Pretoria', 'Pune', 'Puri', 'Puttur', 'Quezon City', 'Raipur',
       'Ranchi', 'Ratlam', 'Ratnagiri', 'Riyadh', 'Robertsganj', 'Rohtak',
       'Roorkee', 'Saharanpur', 'Samarinda', 'San Jose Del Monte',
       'Sangareddy', 'Selangor', 'Shahada', 'Silang', 'Silchar',
       'Siliguri', 'Siwan', 'Sonebhadra', 'Srinagar', 'Suchitra',
       'Sunset Ave, Windsor', 'Surabaya, Indonesia', 'Surat', 'Surigao',
       'Surigao City, Philippines', 'Taguig', 'Tarlac City', 'Tema',
       'Thane', 'Thiruvalla', 'Thrissur', 'Tinsukia', 'Trivandrum',
       'Tumkur', 'Uae', 'Udaipur', 'Uttarakhand', 'Vadodara', 'Valsad',
       'Varanasi', 'Vijayapur', 'Visakhapatnam',
       'Visakhapatnam, Andhra Pradesh, India', 'Vishakhapattanam',
       'Vizianagaram', 'Vrindavan', 'Wai', 'Wardha', 'West Godavari',
       'Yobe', 'Zaria'], dtype=object)

### Cleaning and Replacing The Wrong City Names To Correct Names

In [27]:
df_excel['City'] = df_excel['City'].replace('Bangalore','Bengaluru').replace('Sonebhadra','Sonbhadra')\
.replace('New Delhi','Delhi').replace('Bangalore South','Bengaluru').replace('Goregaon W, Mumbai','Goregaon')\
.replace('Near Dikshant International School','Zirakpur').replace('Tumkur','Tumakuru').replace('')\
.replace('Hisar, Haryana','Hisar').replace('Coochbihar','Cooch Behar').replace('Malout,Punjab','Malout')\
.replace('Greater Noida (West)','Greater Noida').replace('Dharamshala, Himachal Pradesh.','Dharamshala')\
.replace('Trivandrum','Thiruvananthapuram').replace('Navi Mumbai - 410210','Navi Mumbai').replace('Mysore','Mysuru')\
.replace('Greater Noida West','Greater Noida').replace('Dewas, Mp','Dewas').replace('Madurai, Tamil Nadu, India','Madurai')\
.replace('Aligarh, U.P.','Aligarh').replace('North West Delhi','Delhi').replace('Mumbai Suburban','Mumbai')\
.replace('Gurgaon','Gurugram').replace('Bingabon','Vrindavan').replace('Ara','Arrah').replace('Uae','UAE')\
.replace('Auraiya Uttar Pradesh','Auraiya ')\
.replace('Madina','Medina').replace('Navi Mumbai, New Panvel','Navi Mumbai').replace('MalÃ©,','Male')\
.replace('MalÃ©, Maldives','Male')\
.replace('Istanbul, Turkey','Istanbul').replace('Mancher ,Pune','Manchar').replace('Jorhat, Assam','Jorhat')\
.replace('Gokul Vihar Moradabad','Moradabad').replace('London On','London').replace('Gresik','Gresik Regency')\
.replace('New Delhi, India','Delhi').replace('Khandwa, Mp','Khandwa').replace('Cavite, Philippines','Cavite')\
.replace('Bacoor City,Philippines','Bacoor').replace('Imus City Cavite, Philippines','Imus')\
.replace('Imus City, Cavite, Philippines','Imus')\
.replace('Imus City','Imus').replace('Hyderaba','Hyderabad').replace('Oton Iloilo','Oton')\
.replace('Surabaya, Indonesia','Surabaya')\
.replace('Farrukhabad Up','Farrukhabad').replace('Surigao','Surigao City').replace('Surigao City, Philippines','Surigao City')\
.replace('Moradabad, Uttar Pradesh','Moradabad').replace('Nallasopara','Nala Sopara').replace('Kota Bandung','Bandung')\
.replace('Erode, Tamilnadu','Erode').replace('Ballia','Balliya').replace('Patna , Bihar','Patna').replace('Bary','Bari')\
.replace('Banglore','Bengaluru').replace('Alappey','Alappuzha').replace('Bekasi, Indonesia','Bekasi')\
.replace('Chabua, Dibrugarh','Chabua')\
.replace('Nigeria, Katsina','Katsina').replace('Visakhapatnam, Andhra Pradesh, India','Visakhapatnam')\
.replace('Loni 413736','Loni').replace('Karnal, Haryana','Karnal').replace('Gombe, Nigeria','Gombe')\
.replace('dhaka','Dhaka').replace('Accra, Ghana','Accra').replace('Karachi,Pakistan','Karachi')\
.replace('Sunset Ave, Windsor','Sunset Avenue')

## ðŸ“Œ Data Preprocessing On City Column Of 'Basics of Canva - A Graphic Design Platform' Masterclass Dataset

In [28]:
#to convert the city names to lowercase with first letter capital
df_canva_design['City'] = df_canva_design['City'].str.title()

In [29]:
#to remove the extra space from left and right of city names
df_canva_design['City'] = df_canva_design['City'].str.strip()

In [30]:
df_canva_design['City'].sort_values().unique()

array(['Agra', 'Agra, Uttar Pradesh', 'Ahmedabad', 'Aizawl', 'Ajmer',
       'Akola,(Maharashtra)', 'Algiers', 'Allahabad', 'Ambajogai',
       'Ambikapur', 'Amravati', 'Amritsar', 'Ananthapur', 'Ankola',
       'Ariyalur', 'Arwal', 'Asansol', 'Assam', 'Aurangabad',
       'Azamgarh U.P', 'Baguio City', 'Balangir, Odisha', 'Bangalore',
       'Banglore', 'Bargarh', 'Baripada, Mayurbhanj',
       'Bastar Chhattisgarh', 'Bathinda', 'Beltola, Guwahati',
       'Bengaluru', 'Bhilai', 'Bhilwara', 'Bhiwadi', 'Bhopal',
       'Bhubaneshwar', 'Bhubaneswar', 'Bhubaneswar,Odisha', 'Bikramganj',
       'Bilaspur', 'Caloocan', 'Caloocan City', 'Chamarajnagar',
       'Chandigarh', 'Chennai', 'Chhatarpur', 'Chinchwad',
       'Chittaranjan West Bengal', 'Coimbatore', 'Darbhanga',
       'Davao City', 'Dehradun', 'Delhi', 'Delhi Ncr', 'Delhi-Ncr',
       'Delhi/Lucknow', 'Dewas', 'Dhanbad', 'Dharamshala', 'Dharmapuri',
       'Dhule', 'Dibrugarh', 'Digboi', 'Dimapur', 'Durg', 'Eluru',
       'Ernakulam', 'Gadag', 'Gandevi', 'Gandhidham', 'Gaya', 'Ghaziabad',
       'Goalpara', 'Guagua', 'Gujarat', 'Gurgaon', 'Gurugram', 'Guwahati',
       'Gwalior', 'Haryana ,Delhi', 'Hooghly', 'Hoshangabad', 'Hyderabad',
       'Imphal', 'Indore', 'Jabalpur', 'Jaipur', 'Jalandhar', 'Jamnagar',
       'Jamnagar, Gujarat', 'Jamshedpur', 'Jehanabad', 'Jhunjhunu',
       'Jind', 'Johannesburg', 'Jorhat', 'Kadapa', 'Kalyan',
       'Kampala, Uganda', 'Kamrup Metro', 'Kangra', 'Kanpur',
       'Karachi, Pakistan', 'Karbi Anglong', 'Karnal', 'Kesinga',
       'Kharghar', 'Khordha', 'Kochi', 'Kohima', 'Kolhapur', 'Kolkata',
       'Kollata', 'Korba', 'Kottayam, Kerala', 'Kuppam', 'Kurukshetra',
       'Lahore', 'Lakhimpur Kheri', 'Lonavala', 'Lucknow', 'Madhubani',
       'Madhya Pradesh', 'Madurai', 'Manapparai', 'Mancherial',
       'Mangalore', 'Manila', 'Manila, Philippines', 'Mathura', 'Meerut',
       'Mumbai', 'Mumbai City', 'Mumbai/Lucknow', 'Munger', 'Mysore',
       'Mysuru', 'Nagothane', 'Nagpur', 'Nainital', 'Nairobi',
       'Navi Mumbai', 'Navi Mumbai-410210', 'Nellore', 'New Delhi',
       'Newcastle', 'Newdelhi', 'Noida', 'North West Delhi', 'Osmanabad',
       'Palakkad', 'Panaji', 'Panipat', 'Pasig', 'Pathanamthitta',
       'Patna', 'Patna (Bihar)', 'Pimpri Chinchwad', 'Pune',
       'Quezon City Philippines', 'Raichur', 'Raipur', 'Rajam',
       'Rajasthan', 'Ranchi', 'Ruchitamagr412@Gmail.Com', 'Saharanpur',
       'Saharanpur, Up', 'Salem', 'Samastipur', 'Sangli',
       'Saran( Chapra )', 'Sasasaram', 'Satara', 'Satna',
       'Shahdara, North East Delhi', 'Shahjahanpur Up', 'Shamli U.P.',
       'Silchar', 'Siliguri', 'Sivasagar', 'Siwan', 'Sofades',
       'Sonbhadra', 'Sultanpur', 'Surat', 'Surigao City', 'Talasari',
       'Tamilnadu', 'Tezpur', 'Thalassery', 'Thane', 'Thane West',
       'Thane West Mumbai', 'Theni', 'Tiruchirappalli', 'Tirupathi',
       'Trivandrum', 'Vadodara', 'Valencia City, Bukidnon', 'Varanasi',
       'Vasco', 'Velachery, Chennai', 'Vellorr Tamilnadu', 'Vijayawada',
       'Visakhapatnam', 'Vizag', 'Washim', 'West Bengal', 'Windhoek',
       'Yavatmal', 'á´€É¢Ê€á´€'], dtype=object)

### Cleaning and Replacing The Wrong City Names To Correct Names

In [31]:
df_canva_design['City'] = df_canva_design['City'].replace('New Delhi','Delhi').replace('Saran( Chapra )','Chapra')\
.replace('Bangalore','Bengaluru').replace('Saharanpur, Up','Saharanpur').replace('Gurgaon','Gurugram')\
.replace('Thane West Mumbai','Thane').replace('Newdelhi','Delhi').replace('Delhi-Ncr','Delhi')\
.replace('Bastar Chhattisgarh','Bastar').replace('Vasco','Vasco da Gama').replace('Beltola, Guwahati','Beltola Tiniali')\
.replace('Baripada, Mayurbhanj','Baripada').replace('Thane West','Thane').replace('Trivandrum','Trivandrum')\
.replace('Agra, Uttar Pradesh','Agra').replace('Vizag','Visakhapatnam').replace('Kollata','Kolkata')\
.replace('Shahdara, North East Delhi','Delhi')\
.replace('Mumbai City','Mumbai').replace('Delhi/Lucknow','Delhi').replace('Kottayam, Kerala','Kottayam')\
.replace('Kampala, Uganda','Kampala').replace('Haryana ,Delhi','Haryana').replace('Banglore','Bengaluru')\
.replace('Azamgarh U.P','Azamgarh').replace('Patna (Bihar)','Patna').replace('Chittaranjan West Bengal','Chittaranjan')\
.replace('Sasasaram','Sasaram').replace('Navi Mumbai-410210','Navi Mumbai').replace('Velachery, Chennai','Velachery')\
.replace('Caloocan City','Caloocan').replace('Bhubaneswar,Odisha','Bhubaneswar').replace('Shamli U.P.','Shamli')\
.replace('Kamrup Metro','Kamrup Metropolitan').replace('Ananthapur','Anantapur').replace('Theni','Theni Allinagaram')\
.replace('Jamnagar, Gujarat','Jamnagar').replace('Karachi, Pakistan','Karachi').replace('Manila, Philippines','Manila')\
.replace('North West Delhi','Delhi').replace('Mumbai/Lucknow','Mumbai').replace('Balangir, Odisha','Balangir')\
.replace('Lakhimpur Kheri','Lakhimpur').replace('á´€É¢Ê€á´€','Agra').replace('Shahjahanpur Up','Shahjahanpur')\
.replace('Akola,(Maharashtra)','Akola').replace('Delhi Ncr','Delhi').replace('Valencia City, Bukidnon','Valencia City')\
.replace('Vellorr Tamilnadu','Vellore').replace('Mysore','Mysuru').replace('Quezon City Philippines','Quezon City')

In [32]:
df_canva_design.drop(df_canva_design.index[df_canva_design['City'] == 'Ruchitamagr412@Gmail.Com'], inplace = True)

## ðŸ“Œ Data Preprocessing On City Column Of 'Public Speaking' Masterclass Dataset

In [33]:
#to convert the city names to lowercase with first letter capital
df_public_speaking['City'] = df_public_speaking['City'].str.title()

In [34]:
#to remove the extra space from left and right of city names
df_public_speaking['City'] = df_public_speaking['City'].str.strip()

In [35]:
df_public_speaking['City'].sort_values().unique()

array(['Ahmednagar', 'Airoli', 'Ajmer', 'Alibag', 'Ambejogai', 'Ariyalur',
       'Asansol', 'Baler Aurora Philippines', 'Bangalore', 'Bareilly',
       'Belagavi', 'Bengaluru', 'Bhagalpur', 'Bhusawal', 'Bihar',
       'Chandigarh', 'Chapra', 'Chennai', 'Coimbatore', 'Dehradun',
       'Delhi', 'Delhi Ncr', 'Dhaka', 'Dibrugarh', 'Egypt - Damietta',
       'Ernakulam', 'Faridabad', 'Gaya', 'Goa', 'Gonda', 'Gorakhpur',
       'Gurgaon', 'Guwahati', 'Gwalior', 'Haldwani', 'Hapur',
       'Hoshangabad M.P.', 'Hosur', 'Hyderabad', 'Imphal', 'Indore',
       'Inkollu', 'Islampur', 'Itanagar', 'Jaipur', 'Jajpur', 'Jalgaon',
       'Jamnagar', 'Jamshedpur', 'Kalady', 'Kanpur', 'Kochi', 'Kolkata',
       'Kollam', 'Kozhikkode', 'Los BaÃ±os, Philippines', 'Lucknow',
       'Manglore', 'Manipal', 'Morigaon', 'Mumbai', 'Nanded',
       'Nangaliya Gujarwas', 'Nashik', 'Navi Mumbai',
       'Navi Mumbai-410210', 'Nellore', 'New Delhi', 'Palakkad',
       'Panipat', 'Parasi', 'Parbhani', 'Pasighat', 'Patna', 'Phaltan',
       'Pilani', 'Prayagraj', 'Pune', 'Pusad', 'Raebareli', 'Ranchi',
       'Rayagada, Odisha.', 'Roorkee', 'Rourkela', 'Saharanpur',
       'Samastipur', 'Sanchi', 'Shadnagar', 'Silchar', 'Silchar, Assam',
       'Solapur', 'Surjapur', 'Thane', 'Thane Maharashtra', 'Thrissur',
       'Tripunithura, Ernakulam', 'Trivandrum', 'Trivandrum, Kerala',
       'Varanasi', 'Vijayawada', 'Vijaypur', 'Vishakhapatnam', 'Warangal',
       'Yamunanagar'], dtype=object)

### Cleaning and Replacing The Wrong City Names To Correct Names

In [36]:
df_public_speaking['City'] = df_public_speaking['City'].replace('Gurgaon','Gurugram').replace('Silchar, Assam','Silchar')\
.replace('New Delhi','Delhi').replace('Tripunithura, Ernakulam','Thrippunithura').replace('Kozhikkode','Kozhikode')\
.replace('Trivandrum, Kerala','Thiruvananthapuram').replace('Trivandrum','Thiruvananthapuram').replace('Belagavi','Belgaum')\
.replace('Nangaliya Gujarwas','Jhunjhunun').replace('Navi Mumbai-410210','Navi Mumbai').replace('Rayagada, Odisha.','Rayagada')\
.replace('Bangalore','Bengaluru').replace('Thane Maharashtra','Thane').replace('Egypt - Damietta','Damietta')\
.replace('Baler Aurora Philippines','Baler').replace('Manglore','Mangalore').replace('Ambejogai','Ambajogai')\
.replace('Hoshangabad M.P.','Hoshangabad').replace('Los BaÃ±os, Philippines','Los Banos').replace('Delhi Ncr','Delhi')

## ðŸ“Œ Data Preprocessing On City Column Of 'The Podcast' Masterclass Dataset

In [37]:
#to convert the city names to lowercase with first letter capital
df_podcast['City'] = df_podcast['City'].str.title()

In [38]:
#to remove the extra space from left and right of city names
df_podcast['City'] = df_podcast['City'].str.strip()

In [39]:
df_podcast['City'].sort_values().unique()

array(['Agra', 'Ahmedabad', 'Akola', 'Amritsar', 'Ananthapur', 'Ariyalur',
       'Arwal', 'Assam', 'Bangalore', 'Banglore', 'Baramati', 'Begusarai',
       'Bengaluru', 'Bhagalpur', 'Bhilwara', 'Bhopal', 'Bhubaneswar',
       'Bhubaneswar,Patna', 'Bikramganj', 'Brussels', 'Caloocan',
       'Chamarajnagar', 'Chandigarh', 'Chennai', 'Coimbatore',
       'Darbhanga', 'Dehradun', 'Delhi', 'Delhi Ncr', 'Delhi/Ncr',
       'Dewas', 'Dhanbad', 'Dubai', 'Faridabad', 'Faridabad, Haryana',
       'Ghaziyabad Q', 'Goalpara', 'Gonda', 'Gondia', 'Gurgaon',
       'Guwahati', 'Hyderabad', 'I Want To Attend', 'Indore', 'Itanagar',
       'Jabalpur', 'Jehanabad', 'Jorhat', 'Kalyan-Dombivali', 'Kangra',
       'Khordha', 'Kolhapur', 'Kolkata', 'Kolkata,West Bengal', 'Kota',
       'Kuppam', 'Kurukshetra', 'Latur', 'Lucknow', 'Madurai', 'Manila',
       'Manila, Philippines', 'Manipal', 'Meerut', 'Moradabad', 'Mumbai',
       'Nagpur', 'Nanded', 'Navi Mumbai', 'Nawanshahr', 'Ncr', 'Neemuch',
       'New Delhi', 'Palanpur', 'Parbhani', 'Pasig', 'Patna', 'Porbandar',
       'Pune', 'Pune, Maharashtra', 'Raebareli', 'Raipur', 'Ranchi',
       'Rohtak', 'San Carlos City', 'Sasaram', 'Shamli U.P.', 'Silchar',
       'Siliguri', 'Siwan', 'Sri Ganganagar', 'Surigao City',
       'Thalassery', 'Thane', 'Tuljapur', 'Vadodara',
       'Vashi, Navi Mumbai', 'Vellore', 'Vijayawada', 'West Delhi'],
      dtype=object)

### Cleaning and Replacing The Wrong City Names To Correct Names

In [40]:
df_podcast['City'] = df_podcast['City'].replace('Banglore','Bengaluru').replace('Jehanabad','Jahanabad')\
.replace('Shamli U.P.','Shamli').replace('Ananthapur','Anantapur').replace('Bangalore','Bengaluru')\
.replace('Kalyan-Dombivali','Kalyan').replace('Manila, Philippines','Manila').replace('Delhi Ncr','Delhi')\
.replace('New Delhi','Delhi').replace('Kolkata,West Bengal','Kolkata').replace('Gurgaon','Gurugram')\
.replace('Ghaziyabad Q','Ghaziabad').replace('Pune, Maharashtra','Pune').replace('Faridabad, Haryana','Faridabad')\
.replace('Vashi, Navi Mumbai','Navi Mumbai').replace('Delhi/Ncr','Delhi').replace('West Delhi','Delhi')\
.replace('Ncr','Delhi').replace('Bhubaneswar,Patna','Bhubaneswar')

In [41]:
df_podcast.drop(df_podcast.index[df_podcast['City'] == 'I Want To Attend'], inplace = True)

## ðŸ“Œ Concatenating/Merging All the 7 Datasets

In [42]:
final = [df_canva_design, df_digital_marketing, df_excel, df_podcast, df_public_speaking, df_video_editing,
          df_whatsapp_marketing]

In [43]:
df_final = pd.concat(final)

In [44]:
df_final.shape

(2956, 4)

In [45]:
df_final.isnull().sum()

City           0
Masterclass    0
Date           0
Time           0
dtype: int64

**Dataset Doesn't Contain Any Null Values**
<br>
<br>
**Let's Check For Duplicate Values:**

In [46]:
df_final.duplicated().sum()

23

**Dataset Contains 23 Duplicate Rows. So, Before Dropping the Duplicated Rows Let's First See All The Duplicated Rows Values**

In [47]:
df_final[df_final.duplicated(['City','Masterclass','Date','Time'], keep=False)]

,City,Masterclass,Date,Time
358,Delhi,Basics of Canva - A Graphic Design Platform,2020-08-14,16:25:00
359,Delhi,Basics of Canva - A Graphic Design Platform,2020-08-14,16:25:00
517,Mumbai,Basics of Canva - A Graphic Design Platform,2020-08-17,22:55:00
519,Mumbai,Basics of Canva - A Graphic Design Platform,2020-08-17,22:55:00
639,Pune,Basics of Canva - A Graphic Design Platform,2020-08-22,22:08:00
640,Pune,Basics of Canva - A Graphic Design Platform,2020-08-22,22:08:00
644,Pune,Basics of Canva - A Graphic Design Platform,2020-08-22,22:19:00
645,Pune,Basics of Canva - A Graphic Design Platform,2020-08-22,22:19:00
179,Sagar,The Basics Of Digital Marketing,2020-09-25,11:29:00
180,Sagar,The Basics Of Digital Marketing,2020-09-25,11:29:00
54,Delhi,The Basics Of Excel,2020-10-05,00:10:00
56,Delhi,The Basics Of Excel,2020-10-05,00:10:00
114,Mumbai,The Basics Of Excel,2020-10-05,10:06:00
115,Mumbai,The Basics Of Excel,2020-10-05,10:06:00
141,Delhi,The Basics Of Excel,2020-10-05,12:01:00
142,Delhi,The Basics Of Excel,2020-10-05,12:01:00
319,Mumbai,The Basics Of Excel,2020-10-07,14:46:00
320,Mumbai,The Basics Of Excel,2020-10-07,14:46:00
389,Imus,The Basics Of Excel,2020-10-09,15:34:00
390,Imus,The Basics Of Excel,2020-10-09,15:34:00
505,Bengaluru,The Basics Of Excel,2020-10-15,16:25:00
506,Bengaluru,The Basics Of Excel,2020-10-15,16:25:00
6,Pune,Basic Video Editing,2020-07-28,16:52:00
7,Pune,Basic Video Editing,2020-07-28,16:52:00
50,Nalbari,Basic Video Editing,2020-07-28,18:12:00
51,Nalbari,Basic Video Editing,2020-07-28,18:12:00
52,Nalbari,Basic Video Editing,2020-07-28,18:12:00
191,Pune,Basic Video Editing,2020-07-29,10:53:00
192,Pune,Basic Video Editing,2020-07-29,10:53:00
277,Bengaluru,Basic Video Editing,2020-07-29,21:41:00
278,Bengaluru,Basic Video Editing,2020-07-29,21:41:00
288,Kota,Basic Video Editing,2020-07-29,22:38:00
289,Kota,Basic Video Editing,2020-07-29,22:38:00
331,Mumbai,Basic Video Editing,2020-07-30,11:07:00
332,Mumbai,Basic Video Editing,2020-07-30,11:07:00
358,Udaipur,Basic Video Editing,2020-07-30,15:11:00
360,Udaipur,Basic Video Editing,2020-07-30,15:11:00
97,Gurugram,Whatsapp Marketing,2020-09-07,12:12:00
99,Gurugram,Whatsapp Marketing,2020-09-07,12:12:00
220,Pune,Whatsapp Marketing,2020-09-08,11:48:00
221,Pune,Whatsapp Marketing,2020-09-08,11:48:00
369,Mumbai,Whatsapp Marketing,2020-09-13,11:43:00
370,Mumbai,Whatsapp Marketing,2020-09-13,11:43:00
384,Pune,Whatsapp Marketing,2020-09-13,13:58:00
385,Pune,Whatsapp Marketing,2020-09-13,13:58:00

**Now From This Let's Drop All The Duplicated Rows By Keeping The One of The Row Of The Duplicated Rows(Keeping First Unique Row)**

In [48]:
df_final = df_final.drop_duplicates(keep='first')

In [49]:
df_final.shape

(2933, 4)

In [50]:
df_final['Masterclass'].value_counts()

Basics of Canva - A Graphic Design Platform    661
The Basics Of Excel                            651
Basic Video Editing                            577
Whatsapp Marketing                             384
The Basics Of Digital Marketing                243
The Podcast                                    222
Public Speaking                                195
Name: Masterclass, dtype: int64

**For Ensuring That City Names are Replaced Without Any Mistake**

In [51]:
#to convert the city names to lowercase with first letter capital
df_final['City'] = df_final['City'].str.title()

In [52]:
#to convert the city names to lower with first letter capital
df_final['City'] = df_final['City'].str.strip()

In [53]:
df_final['City'].sort_values().unique()

array(['Accra', 'Agartala', 'Agra', 'Ahmedabad', 'Ahmedabad, Gujarat',
       'Ahmednagar', 'Airoli', 'Aizawl', 'Ajmer', 'Akola', 'Alappuzha',
       'Algiers', 'Alibag', 'Aligarh', 'Allahabad', 'Ambajogai',
       'Ambikapur', 'Ambur', 'Amravati', 'Amritsar', 'Anand', 'Anantapur',
       'Ankleshwar', 'Ankola', 'Ansan', 'Ariyalur', 'Arrah', 'Arwal',
       'Asansol', 'Assam', 'Athens', 'Auraiya', 'Aurangabad',
       'Aurangabad ,Bihar', 'Ayodhya', 'Azamgarh', 'Bacolod City',
       'Bacoor', 'Baguio City', 'Baidyapur, Burdwan', 'Balangir', 'Baler',
       'Ballabgarh', 'Ballari', 'Balliya', 'Balurghat', 'Bandung',
       'Bankura', 'Baramati', 'Bareilly', 'Bareli', 'Bargarh', 'Barh',
       'Bari', 'Baripada', 'Bastar', 'Bathinda', 'Beawar', 'Beed',
       'Begusarai', 'Bekasi', 'Belgaum', 'Beltola Tiniali', 'Bengaluru',
       'Bhagalpur', 'Bharatpur', 'Bhilai', 'Bhilwara', 'Bhiwadi',
       'Bhiwandi', 'Bhopal', 'Bhubaneshwar', 'Bhubaneswar', 'Bhusawal',
       'Bidar', 'Bihar', 'Biharsharif', 'Bijni', 'Bikramganj',
       'Bilasipara', 'Bilaspur', 'Bodhan', 'Boisar', 'Bokaro Steel City',
       'Bongaigaon', 'Brussels', 'Bulandshahr', 'Burdwan', 'Burhanpur',
       'Bustos Bulacan', 'Buxar', 'Cagayan De Oro City', 'Cainta Rizal',
       'Calabar', 'Calicut', 'Caloocan', 'Caloocan City', 'Casablanca',
       'Cavite', 'Chabua', 'Chakdaha', 'Chamarajnagar', 'Chandigarh',
       'Chapra', 'Chattogram', 'Chengannur', 'Chennai', 'Chhapra',
       'Chhatarpur', 'Chikarada', 'Chinchwad', 'Chirimiri', 'Chittagong',
       'Chittaranjan', 'Chittorgarh', 'Cluj-Napoca', 'Cochin',
       'Coimbatore', 'Cooch Behar', 'Damietta', 'Dapoli', 'Darbhanga',
       'DasmariÃ±as City', 'Davao City', 'Dehradun', 'Delhi',
       'Deulgaon Raja', 'Dewas', 'Dhaka', 'Dhanbad', 'Dharamshala',
       'Dharmapuri', 'Dhenkanal', 'Dhule', 'Dibrugarh', 'Digboi',
       'Dimapur', 'Doha', 'Dubai', 'Dublin', 'Dumka', 'Durg', 'Durgapur',
       'Edmonton', 'Eluru', 'Ernakulam', 'Erode', 'Estero', 'Faridabad',
       'Farrukhabad', 'Frederick', 'Gadag', 'Gadarpur', 'Gandevi',
       'Gandhidham', 'Gandhinagar', 'Gangapur City', 'Gangtok', 'Gaya',
       'General Trias City', 'Ghaziabad', 'Goa', 'Goalpara', 'Godhara',
       'Gohpur', 'Golaghat', 'Gombe', 'Gonda', 'Gondia', 'Gopalganj',
       'Gorakhpur', 'Goregaon', 'Greater Noida', 'Gresik Regency',
       'Guagua', 'Gujarat', 'Gumla', 'Guntur', 'Gurugram', 'Guwahati',
       'Gwalior', 'Haflong', 'Hajipur', 'Haldwani', 'Hapur', 'Harare',
       'Harda', 'Hardoi', 'Haridwar', 'Haryana', 'Hingoli', 'Hisar',
       'Hooghly', 'Hoshangabad', 'Hosur', 'Houston', 'Hyderabad',
       'Ibadan', 'Ichalkaranji', 'Iloilo', 'Imphal', 'Imus', 'Indore',
       'Inkollu', 'Islampur', 'Istanbul', 'Itanagar', 'Jabalpur',
       'Jagdalpur', 'Jahanabad', 'Jaipur', 'Jaitu', 'Jajpur', 'Jakarta',
       'Jalandhar', 'Jalgaon', 'Jalgaon Jamod', 'Jalna', 'Jalore',
       'Jammu', 'Jammu And Kashmir', 'Jamnagar', 'Jamshedpur', 'Janjgir',
       'Jaunpur', 'Jehanabad', 'Jeypore', 'Jhajjar', 'Jhansi',
       'Jharakhand', 'Jhunjhunu', 'Jhunjhunun', 'Jind', 'Jodhpur',
       'Johannesburg', 'Jorhat', 'Kadapa', 'Kakinada', 'Kalaburagi',
       'Kalady', 'Kalyan', 'Kalyani', 'Kampala', 'Kamrup Metropolitan',
       'Kanchipuram', 'Kangra', 'Kannur', 'Kanpur', 'Karachi', 'Karad',
       'Karauli', 'Karbi Anglong', 'Karimnagar', 'Karkala', 'Karnal',
       'Kasaragod', 'Kathua', 'Katihar', 'Katni', 'Katsina', 'Kekri',
       'Kerala', 'Kesinga', 'Khambhat', 'Khandwa', 'Kharghar', 'Khariar',
       'Khatima', 'Khordha', 'Kochi', 'Kohima', 'Kolar', 'Kolding',
       'Kolhapur', 'Kolkata', 'Kollam', 'Kondagaon', 'Kondapalli',
       'Kopargaon', 'Koraput', 'Korba', 'Kosi Kalan', 'Kota', 'Kottayam',
       'Kozhikode', 'Kuala Lumpur', 'Kuchaman City', 'Kuppam',
       'Kuruksethra', 'Kurukshetra', 'Ladakh', 'Lagos', 'Lahore',
       'Lakhimpur', 'Las PiÃ±as City, Metro Manila', 'Latur',
       'Lebanon-Saida', 'Leh', 'Lohardaga', 'Lonavala', 'London', 'Loni',
       'Los Banos', 'Lucknow', 'Ludhiana', 'Lunawada', 'Lusaka',
       'Madhuban', 'Madhubani', 'Madhya Pradesh', 'Madurai', 'Maihar',
       'Malappuram', 'Malaysia', 'Male', 'Malegaon', 'Malkapur', 'Malout',
       'Manapparai', 'Manchar', 'Mancherial', 'Mandaluyong', 'Mandsaur',
       'Mangaldai', 'Mangalore', 'Manila', 'Manila Philippines',
       'Manipal', 'Manjeri', 'Mansa', 'Mapusa', 'Maramag', 'Margao',
       'Marrakech', 'Mathura', 'Medina', 'Meerut', 'Meghalaya',
       'Melbourne', 'Miri', 'Mohali', 'Moradabad', 'Morgaon', 'Morigaon',
       'Motihari', 'Mudbidri', 'Mudipu', 'Mujaffarpur', 'Mukteshwar',
       'Mumbai', 'Munger', 'Muntinlupa', 'Muradnagar', 'Muscat',
       'Muzaffarpur', 'Muzzafurpur', 'Mysuru', 'Nadiad', 'Nagaon',
       'Nagda', 'Nagercoil', 'Nagothane', 'Nagpur', 'Nainital', 'Nairobi',
       'Nakonde', 'Nala Sopara', 'Nalbari', 'Nanded', 'Nashik', 'Nasik',
       'Nasriganj', 'Navi Mumbai', 'Nawanshahr', 'Neemuch', 'Nellore',
       'Newcastle', 'Nizamabad', 'Noida', 'Nottingham', 'Nuh', 'Odisha',
       'Oragitok', 'Osmanabad', 'Oton', 'Pachora', 'Palakkad', 'Palampur',
       'Palanpur', 'Panaji', 'Panchkula', 'Panipat', 'Parasi', 'Parbhani',
       'Parli', 'Pasay City', 'Pasig', 'Pasighat', 'Pathalgaon',
       'Pathanamthitta', 'Patiala', 'Patna', 'Phaltan', 'Philippines',
       'Pilani', 'Pimpari Chinchwad', 'Pimple Saudagar',
       'Pimpri Chinchwad', 'Porbandar', 'Prayagraj', 'Pretoria', 'Pune',
       'Puri', 'Pusad', 'Puttur', 'Quezon City', 'Raebareli', 'Raichur',
       'Raipur', 'Rajabala', 'Rajam', 'Rajasthan', 'Rajkot',
       'Rajnandgaon', 'Ranchi', 'Rasra', 'Ratlam', 'Ratnagiri',
       'Rayagada', 'Rewa', 'Rewari', 'Riyadh', 'Robertsganj', 'Rohtak',
       'Roorkee', 'Rourkela', 'Rupnagar', 'Sagar', 'Saharanpur',
       'Sahibganj', 'Saida', 'Salem', 'Samarinda', 'Samastipur',
       'San Carlos City', 'San Jose Del Monte', 'Sanchi', 'Sangareddy',
       'Sangli', 'Santrampur', 'Sasaram', 'Satara', 'Satna',
       'Secunderabad', 'Selangor', 'Shadnagar', 'Shahada', 'Shahjahanpur',
       'Shamli', 'Shani Shingnapur', 'Sheoganj', 'Shillong', 'Shimla',
       'Shirdi', 'Sibsagar', 'Silang', 'Silchar', 'Siliguri', 'Singapore',
       'Sitamarhi', 'Sivasagar', 'Siwan', 'Sofades', 'Solapur',
       'Sonbhadra', 'Sri Ganganagar', 'Srimadhopur', 'Srinagar',
       'Suchitra', 'Sullurpeta', 'Sultanpur', 'Sunset Avenue', 'Sunyani',
       'Surabaya', 'Surat', 'Surigao City', 'Surjapur', 'Taguig',
       'Talasari', 'Tamilnadu', 'Tarlac City', 'Tema', 'Tezpur',
       'Thalassery', 'Thane', 'Theni Allinagaram', 'Thiruvalla',
       'Thiruvananthapuram', 'Thrippunithura', 'Thrissur', 'Tinsukia',
       'Tiruchirappalli', 'Tirupathi', 'Tirupati', 'Tiruvalla',
       'Trivandrum', 'Tuljapur', 'Tumakuru', 'Tumkur', 'Tummalagunta',
       'Tura', 'Uae', 'Udaipur', 'Udaipur, Tripura', 'Udupi', 'Ujjain',
       'Uttarakhand', 'Vadodara', 'Valencia City', 'Valsad', 'Varanasi',
       'Vasco Da Gama', 'Velachery', 'Vellore', 'Vijayapur', 'Vijayawada',
       'Vijaypur', 'Visakhapatnam', 'Vishakhapatnam', 'Vishakhapattanam',
       'Vizianagaram', 'Vrindavan', 'Wai', 'Wani', 'Wanwarla, Pusad',
       'Warangal', 'Wardha', 'Washi', 'Washim', 'West Bengal',
       'West Godavari', 'Windhoek', 'Yamunanagar', 'Yavatmal', 'Yobe',
       'Zaria', 'Zirakpur'], dtype=object)

### Final Cleaning Of The City Column In The Merged Dataset

In [54]:
df_final['City'] = df_final['City'].replace('Ahmedabad, Gujarat','Ahmedabad').replace('Aurangabad ,Bihar','Aurangabad')\
.replace('Bareli','Bareli, Madhya Pradesh').replace('Bareilly','Bareilly,Uttar Pradesh')\
.replace('Bhiwandi','Maharashtra').replace('Bhiwadi','Rajasthan').replace('Bhubaneshwar','Bhubaneswar')\
.replace('Caloocan City','Caloocan').replace('Chhapra','Chapra').replace('Jalgaon Jamod','Jalgaon')\
.replace('Jhunjhunun','Jhunjhunu').replace('Kalyan','Kalyan,Maharashtra').replace('Kalyani','Kalyani, West Bengal')\
.replace('Kuruksethra','Kurukshetra').replace('Las PiÃ±as City, Metro Manila','Las Pinas')\
.replace('Madhuban','Assam').replace('Madhubani','Madhubani, Bihar').replace('Manila Philippines','Manila')\
.replace('Muzzafurpur','Muzaffarpur').replace('Nuh','Nuh,Haryana').replace('Pimpari Chinchwad','Pimpri Chinchwad')\
.replace('Sunset Avenue','Sunset Avenue, Atlanta').replace('Tirupathi','Tirupati').replace('Udaipur','Udaipur,Rajasthan')\
.replace('Vishakhapatnam','Visakhapatnam').replace('Vishakhapattanam','Visakhapatnam')\
.replace('Wanwarla, Pusad','Wanwarla,Maharashtra').replace('DasmariÃ±as City','Dasmarinas')\
.replace('Allahabad','Prayagraj').replace('Baidyapur, Burdwan','Baidyapur').replace('Trivandrum','Thiruvananthapuram')\
.replace('Jharakhand','Jharkhand')

### Now, Creating A List Of All The International/Abroad Locations To Create A Additional Column For Better Analysis Of The Datasets.

In [55]:
international_list = ['sunyani','singapore','kolding','saida','nakonde','lusaka','dhaka','duscat','doha',
                      'estero','chittagong','chattogram','dhaka','nottingham','accra','maramag' ,
                      'lebanon-saida', 'ansan', 'cavite' ,'calabar' ,'ibadan', 'athens', 'dublin' , 'miri',
                      'pasay city','sunset avenue, atlanta','karachi','bustos bulacan', 'silang' ,'iloilo' ,'bacoor',
                      'kuala lumpur', 'casablanca' ,'frederick','riyadh' ,'bandung','quezon city', 'las pinas',
                      'medina' ,'bacolod city','melbourne' ,'mandaluyong' , 'cainta rizal',
                      'harare','marrakech' , 'houston' ,'tema', 'general trias city', 'dasmarinas',
                      'philippines', 'zaria','selangor' , 'lagos', 'pretoria','cagayan de oro city', 'jakarta',
                      'tarlac city','bingabon','muntinlupa' ,'gresik regency','edmonton','samarinda','san jose del monte',
                      'yobe' ,'cluj-napoca' , 'bekasi','katsina','taguig','gombe','nairobi','kampala' ,
                      'johannesburg' ,'windhoek', 'algiers' , 'lahore' ,'surigao city', 'pasig',
                      'manila','sofades','newcastle' ,'guagua','davao city','baguio city','valencia city',
                     'damietta','baler','los banos','caloocan' ,'san carlos city', 'dubai' , 'brussels','uae',
                     'istanbul','malaysia','muscat','male','bari','imus','surabaya','london','oton']

#### Creating A Column 'Place_Of_Registeration' - For Indicating Whether A Registeration Is Made From India Or Outside Of India

In [56]:
df_final['Place_Of_Registeration'] = df_final['City']

In [57]:
for (x,y) in df_final.iterrows():

    if str.lower(y.Place_Of_Registeration) in international_list:
        df_final['Place_Of_Registeration'].replace(to_replace=y.Place_Of_Registeration, value='Outside India', inplace=True)

In [58]:
Outside_india = df_final[df_final.Place_Of_Registeration == 'Outside India']
Outside_india

,City,Masterclass,Date,Time,Place_Of_Registeration
137,Nairobi,Basics of Canva - A Graphic Design Platform,2020-08-10,19:33:00,Outside India
299,Kampala,Basics of Canva - A Graphic Design Platform,2020-08-13,00:00:00,Outside India
313,Johannesburg,Basics of Canva - A Graphic Design Platform,2020-08-13,12:50:00,Outside India
333,Windhoek,Basics of Canva - A Graphic Design Platform,2020-08-13,17:28:00,Outside India
386,Caloocan,Basics of Canva - A Graphic Design Platform,2020-08-16,08:53:00,Outside India
...,...,...,...,...,...
108,Lusaka,Whatsapp Marketing,2020-09-07,12:51:00,Outside India
199,Nakonde,Whatsapp Marketing,2020-09-08,03:01:00,Outside India
299,Saida,Whatsapp Marketing,2020-09-10,03:10:00,Outside India
326,Kolding,Whatsapp Marketing,2020-09-11,21:37:00,Outside India
362,Singapore,Whatsapp Marketing,2020-09-13,04:50:00,Outside India

In [59]:
for i in df_final['Place_Of_Registeration']:
    if i!='Outside India':
        df_final['Place_Of_Registeration']=df_final['Place_Of_Registeration'].str.replace(i,'India')

In [60]:
df_final.head()

,City,Masterclass,Date,Time,Place_Of_Registeration
0,Bhopal,Basics of Canva - A Graphic Design Platform,2020-08-09,21:10:00,India
1,Delhi,Basics of Canva - A Graphic Design Platform,2020-08-09,21:27:00,India
2,Pune,Basics of Canva - A Graphic Design Platform,2020-08-09,21:29:00,India
3,Hyderabad,Basics of Canva - A Graphic Design Platform,2020-08-09,21:30:00,India
4,Mumbai,Basics of Canva - A Graphic Design Platform,2020-08-09,21:36:00,India

In [61]:
df_final['Place_Of_Registeration'].value_counts()

India            2794
Outside India     139
Name: Place_Of_Registeration, dtype: int64

## ðŸ“Œ Creating Some Additional Columns For Country And States For Better Analysis and Data Visualization On Tableau

In [62]:
df_final['State'] = df_final['City']

In [63]:
df_final['Country'] = df_final['City']

### Creating A Dictionary For Country Names Of Abroad Cities

In [64]:
abroad_country ={  
'Accra' : 'Ghana','Algiers' : 'Algeria','Ansan' : 'South Korea','Athens' : 'Greece','Bacolod City' : 'Philippines',
'Bacoor' : 'Philippines','Baguio City' : 'Spain','Baler' : 'Philippines','Bari' : 'Italy','Bandung': 'Indonesia',
'Bekasi' :'Indonesia','Brussels' :'Belgium','Bustos Bulacan' :'Philippines','Cagayan De Oro City':'Philippines',
'Cainta Rizal':'Philippines','Calabar':'Nigeria','Caloocan':'Philippines','Casablanca' : 'Morocco',
'Cavite' : 'Philippines','Chattogram' : 'Bangladesh','Cluj-Napoca' : 'Romania','Damietta' : 'Egypt',
'Davao City' : 'Philippines','Dasmarinas' : 'Philippines','Dhaka': 'Bangladesh','Chittagong': 'Bangladesh','Doha': 'Qatar',
'Dublin': 'Ireland','Edmonton' : 'Canada','Estero' : 'United States','Frederick' : 'United States',
'General Trias City' : 'Philippines','Gombe' : 'Nigeria','Gresik Regency': 'Indonesia','Guagua' : 'Philippines',
'Harare' : 'Zimbabwe','Houston' : 'United States','Ibadan' : 'Nigeria','Iloilo' : 'Philippines','Imus' : 'Philippines',
'Istanbul' : 'Turkey','Jakarta' : 'Indonesia','Johannesburg' : 'South Africa','Kampala' : 'Uganda',
'Karachi': 'Pakistan','Katsina': 'Nigeria','Kolding': 'Denmark','Kuala Lumpur': 'Malaysia','Lagos' : 'Nigeria',
'Lahore' :'Pakistan','Las Pinas' :'Philippines','Los Banos': 'United States','London' : 'United Kingdom','Lusaka' :'Zambia',
'Malaysia': 'Malaysia','Male': 'Maldives','Mandaluyong': 'Philippines','Manila' :'Philippines','Maramag': 'Philippines',
'Marrakech': 'Morocco','Medina': 'Saudi Arabia','Melbourne' :'Australia','Miri' :'Malaysia','Muntinlupa' :'Philippines',
'Muscat': 'Oman','Nairobi' :'Kenya','Nakonde': 'Zambia','Newcastle' :'United Kingdom','Nottingham' :'United Kingdom',
'Pasay City': 'Philippines','Pasig': 'Philippines','Philippines' :'Philippines','Pretoria' :'South Africa',
'Quezon City': 'Philippines','Riyadh' :'Saudi Arabia','Saida': 'Algeria','Samarinda' :'Indonesia',
'San Carlos City' :'Philippines','San Jose Del Monte' :'Philippines','Selangor' :'Malaysia','Silang': 'Philippines',
'Singapore' :'Singapore','Surabaya' : 'Indonesia','Sofades': 'Greece','Sunset Avenue, Atlanta': 'United States',
'Sunyani' :'Ghana','Surigao City': 'Philippines','Oton' : 'Philippines','Taguig' :'Philippines',
'Tarlac City': 'Philippines','Tema' :'Ghana','Uae' :'United Arab Emirates','Valencia City' :'Spain',
'Lebanon-Saida' : 'Lebanon','Windhoek' :'Namibia','Yobe': 'Nigeria','Zaria' :'Nigeria','Dubai' : 'United Arab Emirates'
}

In [65]:
df_final['Country'] = df_final['Country'].map(abroad_country)

### Now For The Rest Of The Values In The Country Column We Can Fill 'India'

In [66]:
df_final['Country'] = df_final['Country'].fillna('India')

In [67]:
df_final.head()

,City,Masterclass,Date,Time,Place_Of_Registeration,State,Country
0,Bhopal,Basics of Canva - A Graphic Design Platform,2020-08-09,21:10:00,India,Bhopal,India
1,Delhi,Basics of Canva - A Graphic Design Platform,2020-08-09,21:27:00,India,Delhi,India
2,Pune,Basics of Canva - A Graphic Design Platform,2020-08-09,21:29:00,India,Pune,India
3,Hyderabad,Basics of Canva - A Graphic Design Platform,2020-08-09,21:30:00,India,Hyderabad,India
4,Mumbai,Basics of Canva - A Graphic Design Platform,2020-08-09,21:36:00,India,Mumbai,India

In [68]:
df_final['Country'].value_counts()

India                   2794
Philippines               49
Bangladesh                 9
Nigeria                    9
Indonesia                  8
Malaysia                   5
Ghana                      5
United States              5
United Arab Emirates       4
Pakistan                   4
Maldives                   3
South Africa               3
United Kingdom             3
Singapore                  2
Australia                  2
Spain                      2
Zambia                     2
Algeria                    2
Saudi Arabia               2
Morocco                    2
Greece                     2
Kenya                      1
Canada                     1
Belgium                    1
Zimbabwe                   1
Italy                      1
Lebanon                    1
Uganda                     1
Egypt                      1
Namibia                    1
South Korea                1
Turkey                     1
Romania                    1
Ireland                    1
Oman                       1
Denmark                    1
Qatar                      1
Name: Country, dtype: int64

### Creating The Dictionary For State Column Comprising Of All The State Names Corresponding To The City Names
***For International States(In Some Cases The User Provide Country Name in the Original City column for masterclass registeration So, country Name and state is filled with the That Name. So,International states are not useful in visualization
We will use only the Indian States for state wise analysis and visualization***

In [69]:
states={
#Indian states
"Agartala" : "Tripura","Agra" : "Uttar Pradesh","Ahmedabad" : "Gujarat","Ahmednagar" : "Maharashtra",
"Airoli" : "Maharashtra","Aizawl" : "Mizoram","Ajmer" : "Rajasthan","Akola" : "Maharashtra","Alappuzha" : "Kerala",
"Alibag" : "Maharashtra","Aligarh" : "Uttar Pradesh","Allahabad" : "Uttar Pradesh","Ambajogai" : "Maharashtra",
"Ambikapur" : "Chhattisgarh","Ambur" : "Tamil Nadu","Amravati" : "Maharashtra","Amritsar" : "Punjab","Anand" : "Gujarat",
"Anantapur" : "Andhra Pradesh","Ankleshwar" : "Gujarat","Ankola" : "Karnataka","Ariyalur" : "Tamil Nadu","Arrah" : "Bihar",
"Arwal" : "Bihar","Asansol" : "West Bengal","Assam" : "Assam","Auraiya" : "Uttar Pradesh","Aurangabad" : "Maharashtra",
"Ayodhya" : "Uttar Pradesh","Azamgarh" : "Uttar Pradesh","Baidyapur, Burdwan" : "West Bengal","Balangir" : "Odisha",
"Ballabgarh" : "Haryana","Ballari" : "Karnataka","Balliya" : "Uttar Pradesh","Balurghat" : "West Bengal",
"Bankura" : "West Bengal","Baramati" : "Maharashtra","Bareilly,Uttar Pradesh" : "Uttar Pradesh",
"Bareli, Madhya Pradesh" : "Madhya Pradesh","Bargarh" : "Odisha","Barh" : "Bihar","Baripada" : "Odisha",
"Bastar" : "Chhattisgarh","Bathinda" : "Punjab","Beawar" : "Rajasthan","Beed" : "Maharashtra","Begusarai" : "Bihar",
"Belgaum" : "Karnataka","Beltola Tiniali" : "Assam","Bengaluru" : "Karnataka","Bhagalpur" : "Bihar",
"Bharatpur" : "Rajasthan","Bhilai" : "Chhattisgarh","Bhilwara" : "Rajasthan","Bhopal" : "Madhya Pradesh",
"Bhubaneswar" : "Odisha","Bhusawal" : "Maharashtra","Bidar" : "Karnataka","Bihar" : "Bihar","Biharsharif" : "Bihar",
"Bijni" : "Assam","Bikramganj" : "Bihar","Bilasipara" : "Assam","Bilaspur" : "Chhattisgarh","Bodhan" : "Telangana",
"Boisar" : "Maharashtra","Bokaro Steel City" : "Jharkhand","Bongaigaon" : "Assam","Bulandshahr" : "Uttar Pradesh",
"Burdwan" : "West Bengal","Burhanpur" : "Madhya Pradesh","Buxar" : "Bihar","Calicut" : "Kerala","Chabua" : "Assam",
"Chakdaha" : "West Bengal","Chamarajnagar" : "Karnataka","Chandigarh" : "Punjab","Chapra" : "Bihar","Chengannur" : "Kerala",
"Chennai" : "Tamil Nadu","Chhatarpur" : "Madhya Pradesh","Chikarada" : "Odisha","Chinchwad" : "Maharashtra",
"Chirimiri" : "Chhattisgarh","Chittaranjan" : "West Bengal","Chittorgarh" : "Rajasthan","Cochin" : "Kerala",
"Coimbatore" : "Tamil Nadu","Cooch Behar" : "West Bengal","Dapoli" : "Maharashtra","Darbhanga" : "Bihar",
"Dasmarinas" : "Philippines","Dehradun" : "Uttarakhand","Delhi" : "Delhi","Deulgaon Raja" : "Maharashtra",
"Dewas" : "Madhya Pradesh","Dhanbad" : "Jharkhand","Dharamshala" : "Himachal Pradesh","Dharmapuri" : "Tamil Nadu",
"Dhenkanal" : "Odisha","Dhule" : "Maharashtra","Dibrugarh" : "Assam","Digboi" : "Assam","Dimapur" : "Nagaland",
"Dumka" : "Jharkhand","Durg" : "Chhattisgarh","Durgapur" : "West Bengal","Eluru" : "Andhra Pradesh","Ernakulam" : "Kerala",
"Erode" : "Tamil Nadu","Faridabad" : "Haryana","Farrukhabad" : "Uttar Pradesh","Gadag" : "Karnataka",
"Gadarpur" : "Uttarakhand","Gandevi" : "Gujarat","Gandhidham" : "Gujarat","Gandhinagar" : "Gujarat",
"Gangapur City" : "Rajasthan","Gangtok" : "Rajasthan","Gaya" : "Bihar","Ghaziabad" : "Uttar Pradesh","Goa" : "Goa",
"Goalpara" : "Assam","Godhara" : "Gujarat","Gohpur" : "Assam","Golaghat" : "Assam","Gonda" : "Maharashtra",
"Gondia" : "Maharashtra","Gopalganj" : "Bihar","Gorakhpur" : "Uttar Pradesh","Goregaon" : "Maharashtra",
"Greater Noida" : "Uttar Pradesh","Gujarat" : "Gujarat","Gumla" : "Jharkhand","Guntur" : "Andhra Pradesh",
"Gurugram" : "Haryana","Guwahati" : "Assam","Gwalior" : "Madhya Pradesh","Haflong" : "Assam","Hajipur" : "Bihar",
"Haldwani" : "Uttarakhand","Hapur" : "Uttar Pradesh","Harda" : "Madhya Pradesh","Hardoi" : "Uttar Pradesh",
"Haridwar" : "Uttarakhand","Haryana" : "Haryana","Hingoli" : "Maharashtra","Hisar" : "Haryana","Hooghly" : "West Bengal",
"Hoshangabad" : "Madhya Pradesh","Hosur" : "Tamil Nadu","Hyderabad" : "Telangana","Ichalkaranji" : "Maharashtra",
"Imphal" : "Manipur","Indore" : "Madhya Pradesh","Inkollu" : "Andhra Pradesh",
"Islampur" : "West Bengal","Itanagar" : "Arunachal Pradesh","Jabalpur" : "Madhya Pradesh","Jagdalpur" : "Chhattisgarh",
"Jahanabad" : "Bihar","Jaipur" : "Rajasthan","Jaitu" : "Punjab","Jajpur" : "Odisha","Jalandhar" : "Punjab",
"Jalgaon" : "Maharashtra","Jalna" : "Maharashtra","Jalore" : "Rajasthan","Jammu" : "Jammu and Kashmir",
"Jammu And Kashmir" : "Jammu and Kashmir","Jamnagar" : "Gujarat","Jamshedpur" : "Jharkhand","Janjgir" : "Chhattisgarh",
"Jaunpur" : "Uttar Pradesh","Jehanabad" : "Bihar","Jeypore" : "Odisha","Jhajjar" : "Haryana","Jhansi" : "Uttar Pradesh",
"Jharkhand" : "Jharkhand","Jhunjhunu" : "Rajasthan","Jind" : "Haryana","Jodhpur" : "Rajasthan","Jorhat" : "Assam",
"Kadapa" : "Andhra Pradesh","Kakinada" : "Andhra Pradesh","Kalaburagi" : "Karnataka","Kalady" : "Kerala",
"Kalyan,Maharashtra" : "Maharashtra","Kalyani, West Bengal" : "West Bengal","Kamrup Metropolitan" : "Assam",
"Kanchipuram" : "Tamil Nadu","Kangra" : "Himachal Pradesh","Kannur" : "Kerala","Kanpur" : "Uttar Pradesh",
"Karad" : "Maharashtra","Karauli" : "Rajasthan","Karbi Anglong" : "Assam","Karimnagar" : "Telangana",
"Karkala" : "Karnataka","Karnal" : "Haryana","Kasaragod" : "Kerala","Kathua" : "Jammu and Kashmir","Katihar" : "Bihar",
"Katni" : "Madhya Pradesh","Kekri" : "Rajasthan","Kerala" : "Kerala","Kesinga" : "Odisha","Khambhat" : "Gujarat",
"Khandwa" : "Madhya Pradesh","Kharghar" : "Maharashtra","Khariar" : "Odisha","Khatima" : "Uttarakhand","Khordha" : "Odisha",
"Kochi" : "Kerala","Kohima" : "Nagaland","Kolar" : "Karnataka","Kolhapur" : "Maharashtra","Kolkata" : "West Bengal",
"Kollam" : "Kerala","Kondagaon" : "Chhattisgarh","Kondapalli" : "Andhra Pradesh","Kopargaon" : "Maharashtra",
"Koraput" : "Odisha","Korba" : "Chhattisgarh","Kosi Kalan" : "Uttar Pradesh","Kota" : "Rajasthan","Kottayam" : "Kerala",
"Kozhikode" : "Kerala","Kuchaman City" : "Rajasthan","Kuppam" : "Andhra Pradesh","Kurukshetra" : "Haryana",
"Ladakh" : "Ladakh","Lakhimpur" : "Uttar Pradesh","Latur" : "Maharashtra","Leh" : "Ladakh",
"Lohardaga" : "Jharkhand","Lonavala" : "Maharashtra","Loni" : "Uttar Pradesh",
"Lucknow" : "Uttar Pradesh","Ludhiana" : "Punjab","Lunawada" : "Gujarat","Madhubani, Bihar" : "Bihar",
"Madhya Pradesh" : "Madhya Pradesh","Madurai" : "Tamil Nadu","Maharashtra" : "Maharashtra","Maihar" : "Madhya Pradesh",
"Malappuram" : "Kerala","Malegaon" : "Maharashtra","Malkapur" : "Maharashtra","Malout" : "Punjab",
"Manapparai" : "Tamil Nadu","Manchar" : "Maharashtra","Mancherial" : "Telangana","Mandsaur" : "Madhya Pradesh",
"Mangaldai" : "Assam","Mangalore" : "Karnataka","Manipal" : "Karnataka","Manjeri" : "Kerala","Mansa" : "Punjab",
"Mapusa" : "Goa","Margao" : "Goa","Mathura" : "Uttar Pradesh","Meerut" : "Uttar Pradesh","Meghalaya" : "Meghalaya",
"Mohali" : "Punjab","Moradabad" : "Uttar Pradesh","Morgaon" : "Maharashtra","Morigaon" : "Assam","Motihari" : "Bihar",
"Mudbidri" : "Karnataka","Mudipu" : "Karnataka","Mujaffarpur" : "Bihar","Mukteshwar" : "Uttarakhand",
"Mumbai" : "Maharashtra","Munger" : "Bihar","Muradnagar" : "Uttar Pradesh","Muzaffarpur" : "Bihar","Mysuru" : "Karnataka",
"Nadiad" : "Gujarat","Nagaon" : "Assam","Nagda" : "Madhya Pradesh","Nagercoil" : "Tamil Nadu","Nagothane" : "Maharashtra",
"Nagpur" : "Maharashtra","Nainital" : "Uttarakhand","Nala Sopara" : "Maharashtra","Nalbari" : "Assam",
"Nanded" : "Maharashtra","Nashik" : "Maharashtra","Nasik" : "Maharashtra","Nasriganj" : "Bihar",
"Navi Mumbai" : "Maharashtra","Nawanshahr" : "Punjab","Neemuch" : "Madhya Pradesh","Nellore" : "Andhra Pradesh",
"Nizamabad" : "Telangana","Noida" : "Uttar Pradesh","Nuh,Haryana" : "Haryana","Odisha" : "Odisha","Oragitok" : "Meghalaya",
"Osmanabad" : "Maharashtra","Oton" : "Philiphines","Pachora" : "Maharashtra","Palakkad" : "Kerala",
"Palampur" : "Himachal Pradesh","Palanpur" : "Gujarat","Panaji" : "Goa","Panchkula" : "Haryana","Panipat" : "Haryana",
"Parasi" : "Uttar Pradesh","Parbhani" : "Maharashtra","Parli" : "Maharashtra","Pasighat" : "Arunachal Pradesh",
"Pathalgaon" : "Chhattisgarh","Pathanamthitta" : "Kerala","Patiala" : "Punjab","Patna" : "Bihar","Phaltan" : "Maharashtra",
"Pilani" : "Rajasthan","Pimple Saudagar" : "Maharashtra","Pimpri Chinchwad" : "Maharashtra","Porbandar" : "Gujarat",
"Prayagraj" : "Uttar Pradesh","Pune" : "Maharashtra","Puri" : "Odisha","Pusad" : "Maharashtra","Puttur" : "Karnataka",
"Raebareli" : "Uttar Pradesh","Raichur" : "Karnataka","Raipur" : "Chhattisgarh","Rajabala" : "Meghalaya",
"Rajam" : "Andhra Pradesh","Rajasthan" : "Rajasthan","Rajkot" : "Gujarat","Rajnandgaon" : "Chhattisgarh",
"Ranchi" : "Jharkhand","Rasra" : "Uttar Pradesh","Ratlam" : "Madhya Pradesh","Ratnagiri" : "Maharashtra",
"Rayagada" : "Odisha","Rewa" : "Madhya Pradesh","Rewari" : "Haryana","Robertsganj" : "Uttar Pradesh","Rohtak" : "Haryana",
"Roorkee" : "Uttarakhand","Rourkela" : "Odisha","Rupnagar" : "Punjab","Sagar" : "Madhya Pradesh",
"Saharanpur" : "Uttar Pradesh","Sahibganj" : "Jharkhand","Salem" : "Tamil Nadu","Samastipur" : "Bihar",
"Sanchi" : "Madhya Pradesh","Sangareddy" : "Telangana","Sangli" : "Maharashtra","Santrampur" : "Gujarat",
"Sasaram" : "Bihar","Satara" : "Maharashtra","Satna" : "Madhya Pradesh","Secunderabad" : "Telangana",
"Shadnagar" : "Telangana","Shahada" : "Maharashtra","Shahjahanpur" : "Uttar Pradesh","Shamli" : "Uttar Pradesh",
"Shani Shingnapur" : "Maharashtra","Sheoganj" : "Rajasthan","Shillong" : "Meghalaya","Shimla" : "Himachal Pradesh",
"Shirdi" : "Maharashtra","Sibsagar" : "Assam","Silchar" : "Assam","Siliguri" : "West Bengal","Sitamarhi" : "Bihar",
"Sivasagar" : "Assam","Siwan" : "Bihar","Solapur" : "Maharashtra","Sonbhadra" : "Uttar Pradesh",
"Sri Ganganagar" : "Rajasthan","Srimadhopur" : "Rajasthan","Srinagar" : "Jammu and Kashmir","Suchitra" : "Telangana",
"Sullurpeta" : "Andhra Pradesh","Sultanpur" : "Uttar Pradesh","Surabaya" : "Indonesia","Surat" : "Gujarat",
"Surjapur" : "West Bengal","Talasari" : "Maharashtra","Tamilnadu" : "Tamil Nadu","Tezpur" : "Assam","Thalassery" : "Kerala",
"Thane" : "Maharashtra","Theni Allinagaram" : "Tamil Nadu","Thiruvalla" : "Kerala","Thiruvananthapuram" : "Kerala",
"Thrippunithura" : "Kerala","Thrissur" : "Kerala","Tinsukia" : "Assam","Tiruchirappalli" : "Tamil Nadu",
"Tirupati" : "Andhra Pradesh","Tiruvalla" : "Kerala","Trivandrum" : "Kerala","Tuljapur" : "Maharashtra",
"Tumakuru" : "Karnataka","Tumkur" : "Karnataka","Tummalagunta" : "Andhra Pradesh","Tura" : "Meghalaya",
"Udaipur, Tripura" : "Tripura","Udaipur,Rajasthan" : "Rajasthan","Udupi" : "Karnataka","Ujjain" : "Madhya Pradesh",
"Uttarakhand" : "Uttarakhand","Vadodara" : "Gujarat","Valsad" : "Gujarat","Varanasi" : "Uttar Pradesh",
"Vasco Da Gama" : "Goa","Velachery" : "Tamil Nadu","Vellore" : "Tamil Nadu","Vijayapur" : "Karnataka",
"Vijayawada" : "Andhra Pradesh","Vijaypur" : "Madhya Pradesh","Visakhapatnam" : "Andhra Pradesh",
"Vizianagaram" : "Andhra Pradesh","Vrindavan" : "Uttar Pradesh","Wai" : "Maharashtra","Wani" : "Maharashtra",
"Wanwarla,Maharashtra" : "Maharashtra","Warangal" : "Telangana","Wardha" : "Maharashtra","Washi" : "Maharashtra",
"Washim" : "Maharashtra","West Bengal" : "West Bengal","West Godavari" : "Andhra Pradesh","Yamunanagar" : "Haryana",
"Yavatmal" : "Maharashtra","Zirakpur" : "Punjab","Baidyapur" : "West Bengal",

#International states    
"Accra" : "Accra","Algiers" : "Algiers","Ansan" : "Gyeonggi Province","Athens" : "Athens","Bari" : "Italy",
"Bacolod City" : "Negros Occidental","Bacoor" : "Cavite","Baguio City" : "Benguet","Baler" : "Aurora",
"Bandung" : " West Java province","Bari" : "Metropolitan City of Bari","Bekasi" : " West Java province",
"Brussels" : "Brussels","Bustos Bulacan" : "Bulacan","Cagayan De Oro City" : "Misamis Oriental","Cainta Rizal" : "Rizal",
"Calabar" : "Calabar","Caloocan" : "Manila","Casablanca" : "Casablanca-Settat","Cavite" : "Calabarzon",
"Chattogram" : "Chittagong Division","Cluj-Napoca" : "Cluj-Napoca","Damietta" : "RomanÂ province","Imus" : "Philippines",
"Dasmarinas" : "Cavite Province","Davao City" : "Mindanao","Dhaka" : "Dhaka","Doha" : "Doha","Dubai" : "Dubai",
"Dublin" : "Dublin","Edmonton" : "Alberta","Estero" : "Santiago del Estero provincia","Frederick" : "Baltimoreâ€“Washington ",
"General Trias City" : "Cavite Province","Gombe" : "Tanzania","Gresik Regency" : "East Java","Guagua" : " Central Luzon",
"Harare" : "Harare Province","Houston" : "Texas","Ibadan" : "Ibadan","Iloilo" : "Iloilo","Imus" : "Cavite Province",
"Istanbul" : "Istanbul","Jakarta" : "Jakarta","Johannesburg" : "Gauteng","Kampala" : "Kampala","Karachi" : "Sindh Province",
"Katsina" : "Katsina","Kolding" : "Syddanmark","Kuala Lumpur" : "Kuala Lumpur","Lagos" : "Lagos",
"Lahore" : "Pakistan's Punjab province","Las Pinas" : "Metro Manila","Lebanon-Saida" : "Saida","London" : "London",
"Los Banos" : "Laguna","Lusaka" : "Lusaka Province","Malaysia" : "Malaysia","Male" : "Male","Mandaluyong" : "Metro Manila",
"Manila" : "Metro Manila","Maramag" : "Bukidnon","Marrakech" : "Marrakesh-Safi","Medina" : "Medina Province",
"Melbourne" : "Victoria","Miri" : "Sarawak","Muntinlupa" : "Metro Manila","Muscat" : "Muscat","Nairobi" : "Nairobi",
"Nakonde" : "Muchinga Province","Newcastle" : "Tyne and Wear","Nottingham" : "York","Oton" : "Iloilo Province",
"Pasay City" : "Metro Manila","Pasig" : "Metro Manila","Philippines" : "Philippines","Pretoria" : "Gauteng",
"Quezon City" : "Metro Manila","Riyadh" : "Riyadh Province","Saida" : "Algeria","Samarinda" : "East Kalimantan",
"San Carlos City" : "Negros Occidental","San Jose Del Monte" : "Bulacan","Selangor" : "Selangor",
"Silang" : "Cavite Province","Singapore" : "Singapore","Sofades" : "Karditsa","Sunset Avenue, Atlanta" : "Georgia",
"Sunyani" : "Bono","Surabaya" : "East Java","Surigao City" : "Surigao del Norte","Taguig" : "Metro Manila",
"Tarlac City" : "Tarlac City","Tema" : "Greater Accra Region","Uae" : "Uae","Valencia City" : "Bukidnon",
"Windhoek" : "Khomas Region","Yobe" : "Yobe","Zaria" : "Kaduna","Lebanon-Saida" : "Lebanon","London" : "England",
"Chittagong" : "Chittagong Division"
}

In [70]:
df_final['State'] = df_final['State'].map(states)

In [71]:
df_final.head()

,City,Masterclass,Date,Time,Place_Of_Registeration,State,Country
0,Bhopal,Basics of Canva - A Graphic Design Platform,2020-08-09,21:10:00,India,Madhya Pradesh,India
1,Delhi,Basics of Canva - A Graphic Design Platform,2020-08-09,21:27:00,India,Delhi,India
2,Pune,Basics of Canva - A Graphic Design Platform,2020-08-09,21:29:00,India,Maharashtra,India
3,Hyderabad,Basics of Canva - A Graphic Design Platform,2020-08-09,21:30:00,India,Telangana,India
4,Mumbai,Basics of Canva - A Graphic Design Platform,2020-08-09,21:36:00,India,Maharashtra,India

In [72]:
df_final['State'].value_counts()

Maharashtra        902
Delhi              299
Karnataka          183
Assam              172
Uttar Pradesh      163
                  ...
Muscat               1
Dublin               1
East Kalimantan      1
Karditsa             1
RomanÂ province       1
Name: State, Length: 111, dtype: int64

### Now We Can Export Our Final Merged Dataset For The Visualization On Tableau

In [73]:
df_final.to_excel('MKR_Masterclass_Finals_Dataset.xlsx')